
{% extends "base.html" %}

{% block content %}
  

<table class="table table-dark table-hover">


    <thead>
      <tr>
        <th id="thbar" scope="col">Full Name</th>
        <th id="thbar" scope="col">City Born</th>
        <th id="thbar" scope="col">Age</th>
        <th id="thbar" scope="col"></th>
        <th id="thbar" scope="col"></th>
      </tr>
    </thead>


    <tbody>

      <tr>
            
        
        <td>{{obj.fullname | upper}}</td>
        <td>{{obj.born | upper}}</td>
        <td>{{obj.age}}</td>
        <td><a  class="btn btn-outline-success"href=" {% url 'updatestudent' obj.id %} ">Update</a> </td>
        
        <td><a  class="btn btn-outline-danger"href=" {% url 'deletestudent' obj.id %} ">Delete</a> </td>
      </tr>

    </tbody>


  </table>{% endblock content %}
